.container {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;  
    background-color: greenyellow;
	color: black;
	list-style-type: circle;
	list-style: none;
}
li{
	list-style:circle;
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

button {
    background-color: rgb(255, 183, 255);
}